@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat:wght@200;400;500&family=Noto+Serif:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #030824, #030824);
  font-family: "Jura", serif;
  background-size: 500% 500%;
}

header {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  position: absolute; 
  width: 100%;

  nav {
    display: flex;
    gap: 2.5vw; 
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    transition: all 0.5s ease;
    .link {
      text-decoration: none;
      color: rgb(102, 217, 237);
      font-size: 1.2rem;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: #007bff;
        text-shadow: 0 0 8px rgba(102, 217, 237, 0.8);
      }
    }
  }
  nav.hidden {
    display: none;
  }
  nav.to-left {
    position: fixed;
    top: 20vh;
    left: 5vw;
    right: auto;
    transform: translateX(0);
    flex-direction: column;
    width: 10vw;
  }
}
main {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  z-index: -2;
  text-align: center; 
  h1 {
    font-size: 5rem; 
    margin: 0; 
    color: rgb(102, 217, 237); 
  }

  .neon {
    font-size: 4rem;
    color: rgb(102, 217, 237);
    text-shadow: 0 0 1px #2200b9, 0 0 3px #2200b9, 0 0 5px #2200b9,
      0 0 10px #2200b9, 0 0 20px #2200b9;
    animation: glow 1s infinite alternate;
  }
  @keyframes glow {
    0% {
      text-shadow: 0 0 1px #2801d7, 0 0 2px #2801d7, 0 0 5px #2801d7,
        0 0 10px #2801d7, 0 0 20px #2801d7;
    }
    100% {
      text-shadow: 0 0 1px #1b0094, 0 0 2px #1b0094, 0 0 3px #1b0094,
        0 0 5px #1b0094, 0 0 10px #1b0094;
    }
  }


  h2 {
    font-size: 3rem;
    margin: 0.5rem 0 0; 
    color: rgb(102, 217, 237); 
  }
  .contacts {
    display: flex;
    margin: 40px;
    gap: 10px;
    img {
      height: 6vh;
    }
  }
}
.work {
  position: absolute;
  height: 100vh;
  left: 17.5vw;
  width: 65vw;
  h2{
    color: rgb(102, 217, 237); 
    font-size: 3rem;
  }
  .work-grid{
    grid-template-columns: repeat(2, 30vw);
    gap: 5vw;
    display: grid;

    .container {
      margin-top: 30px;
      height: 420px;
      border-radius: 20px;
      padding: 20px;
      text-align: center;
      color: rgb(102, 217, 237);
      font-size: 1.2rem;
      font-weight: 500;
      position: relative;
      box-shadow: rgba(102, 217, 237, 0.3) 0px 4px 14px 0px;
      img {
        display: block;
        margin: 0 auto;
        height: 15%;
      }
      .logos {
        display: flex;
        bottom: 0;
        position: absolute;
        width: 90%;
        padding: 20px;

        img {
          height: 7vh;
        }
      }
    }
  }
}
.projects {
  a {
    text-decoration: none;
  }
  top: 200vh;
  position: absolute;
  height: 100vh;

  left: 17.5vw;
  width: 65vw;
  h2{
    color: rgb(102, 217, 237); 
    font-size: 3rem;
  }
  .projects-wrap{
    grid-template-columns: repeat(3, 20vw);
    gap: 2.5vw;
    display: grid;
    .container {
      margin-top: 30px;
      height: 420px;
      border-radius: 20px;
      text-align: center;
      color: rgb(102, 217, 237);
      font-size: 1.2rem;
      font-weight: 500;
      position: relative;
      box-shadow: rgba(102, 217, 237, 0.3) 0px 4px 14px 0px;
      img {
        width: 100%;
        border-radius: 20px 20px 0 0;
      }
      h3 {
        padding: 20px;
        text-decoration: none;
      }
      .logos {
        display: flex;
        bottom: 0;
        position: absolute;
        width: 90%;
        padding: 10px;

        img {
          height: 7vh;
          border-radius: 0%;
        }
      }
    }
  }
}
.education {
  top: 300vh;
  position: absolute;
  height: 35vh;
  left: 17.5vw;
  width: 65vw;
  .container {
    margin-top: 30px;
    height: 220px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: rgb(102, 217, 237);
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    box-shadow: rgba(102, 217, 237, 0.3) 0px 4px 14px 0px;
  }
}

@media (max-width: 768px) {
  header{
    nav{
      display: none;
    }
  }

  .work{
    left: 0;
    width: 100vw;
    h2{
      margin-left: 3vw;
      margin-bottom: 10px;
    }
    .slider-wrapper {
      overflow-x: auto;
      width: 100%;
      -ms-overflow-style: none;  
      scrollbar-width: none;     
      .slider-wrapper::-webkit-scrollbar {
        display: none;             
      }  
      .work-grid{
        width: max-content;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        display: flex;
        gap: 0vw;
        .container{
          padding: 0;
          margin: 3vw;
          width: 70vw;
          height: 55vh;
          scroll-snap-align: start;
          flex: 0 0 80vw;
          img{
            margin-top: 10px;
          }
          p{
            padding-left: 7px;
            padding-right: 7px;
          }
          .logos{
            margin-top: 10px;
            padding: 10px;
            img{
              height: 9vw;
            }
          }
        }
      }
    }
  }
  .projects{
    top: 380vw;
    left: 0;
    width: 100vw;
    h2{
      margin-left: 3vw;
      margin-bottom: 10px;
      font-size: 3rem;
    }
    .slider-wrapper {
      overflow-x: auto;
      width: 100%;
      -ms-overflow-style: none;  
      scrollbar-width: none;   
      .slider-wrapper::-webkit-scrollbar {
        display: none;             
      }
      .projects-wrap{
        width: max-content;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        display: flex;
        gap: 0vw;
        .container{
          margin: 3vw;
          width: 80vw;
          height: 45vh;
          .logos{
            padding: 0;
            margin-top: 10px;
            padding-bottom: 20px;
            img{
              height: 9vw;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }

  .education{
    left: 3vw;
    margin: 0;
    width: 94vw;
    top: 275vh;
    height: 45vh;
    .container{
      padding: 5px;
      height: 80vw;
    }
    margin-bottom: 10px;
  }

}